# Ignore everything
*

# Except for general files...
!README.md
!.gitignore
!yarn.lock
!Dockerfile
!.dockerignore
!.travis.yml

# JS files...
!**/*.js

# And folders with js files
!controllers
!models